.map-container{
    width: var(--wimg);
}
.map-container:hover .map-control{
    opacity: 100% ;
}
.map-stack{
    margin-left: var(--ctl);
    transition: margin 1s ease-in-out;
}
.map-control{
    bottom: 3%;
    left: 3%;
    opacity: 50%;
    transition: opacity 0.3s ease-in-out;
}
.map-stack img{
    width: var(--wimg);
}
